body {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

svg {
  stroke: rgba(0, 0, 0, .2);
  fill: rgba(0, 0, 0, .2);
}

.label {
  font-size: 10px;
  fill: rgba(0, 0, 0, .5);
}

.tooltip, .tooltip2 {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, .1);
  color: rgba(0, 0, 0, .8);
  padding: 10px;
}

.tooltip span {
  font-weight: bold;
}

.tooltip table {
  font-size: 13px;
  margin: 0;
  padding: 0;
  border: 0;
}

.tooltip th {
  font-weight: normal;
  text-align: left;
  opacity: 0.5;
  padding: 0 10px;
}

.tooltip td {
  margin: 0;
  padding: 0 10px;
}

.tooltip td.logo {
  vertical-align: middle;
  text-align: center;
}

.tooltip td.logo img {
  max-width: 80px;
  max-height: 80px;
}

.tooltip2 {
  padding-top: 0;
  max-width: 200px;
}

.tooltip2 p {
  margin: 10px 0;
  font-weight: bold;
}

p#logos {
  margin-left: 180px;
  width: 1020px;
}

p#logos img {
  cursor: pointer;
  display: block;
  float: left;
  margin: 0 4px 10px 4px;
  padding: 0;
}

p#logos img:hover {
  opacity: 0.5;
}

div#container {
  text-align: center;
  width: 1020px;
  top: 90px;
  margin-left: 180px;
  position: absolute;
}

div#container2 {
  width: 1200px;
}

input#slider {
  -webkit-appearance: none;
  width: 800px;
  height: 10px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s, box-shadow 0.2s;
  box-shadow: inset 0 2px 2px 0 rgba(0,0,0,0.1)
}

input#slider:hover {
  opacity: 1;
}

input#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 25px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1), 0 0 0 1px rgba(0,0,0,0.1);
  border-radius: 20px;
  cursor: grab;
}

input#slider::-moz-range-thumb, input#slider::-moz-range-thumb:active {
  width: 50px;
  height: 25px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1), 0 0 0 1px rgba(0,0,0,0.1);
  border-radius: 20px;
  cursor: grab;
}

h1#team {
  clear: both;
  width: 1020px;
  margin-left: 180px;
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 3px;
  text-align: center;
  padding-top: 20px;
}

div#navigation {
  margin: 40px 0 40px 180px;
  width: 1020px;
  text-align: center;
}

p#button {
  font-weight: 400;
  font-size: 16px;
  background-color: rgba(0,0,0,.05);
  border-radius: 30px;
  padding: 15px 8px;
  display: inline;
  margin: 0;
}

div#navigation a {
  text-decoration: none;
  color: rgba(0,0,0,.5);
  padding: 15px;
}

div#navigation span {
  background-color: #fff;
  color: rgba(0,0,0,.5);
  border-radius: 30px;
  padding: 8px 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1), 0 0 0 1px rgba(0,0,0,0.05);
}

#year {
  font-weight: 100;
  font-size: 200px;
  font-family: 'Roboto Mono', monospace;
  opacity: .5;
  shape-rendering: crispEdges;
}
