body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
}
.axis path, .axis line {
  stroke: #000;
}
.x.axis path, .x.axis line, .y.axis path {
  display: none;
}
.tick line {
  stroke-width: 2;
  opacity: 0.1;
}
.label {
  font-size: 11px;
  letter-spacing: 0;
}
.tooltip {
  position: absolute;
  width: 130px;
  padding: 10px;
  background: #000;
  border-radius: 5px;
  color: #fff;
}
p#logos {
  margin-left: 180px;
  width: 1020px;
}
p#logos img {
  cursor: pointer;
  display: block;
  float: left;
  margin: 0px 4px 10px 4px;
  padding: 0;
}
div#container {
  text-align: center;
  width: 1020px;
  top: 100px;
  margin-left: 180px;
  position: absolute;
}
input#slider {
  width: 800px;
}
h1 {
  font-size: 30px;
  width: 1020px;
  letter-spacing: 3px;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
h1#team {
  clear: both;
  margin-left: 180px;
  padding: 30px 0 20px 0;
  width: 1020px;
  font-weight: 100;
}
h1#navigation {
  margin: 40px 0 40px 180px;
  width: 1020px;
  text-align: center;
  letter-spacing: 3px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
h1#navigation a {
  color: #aaa;
  letter-spacing: 3px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-decoration: none;
  border-bottom: 2px solid #aaa;
}
#year {
  font-weight: 400;
  font-size: 150px;
  fill: #aaa;
  shape-rendering: crispEdges;
}
p#credit {
  color: #aaa;
  text-align: center;
  width: 1020px;
  margin: 30px 0 40px 180px;
  font-weight: 400;
  clear: both;
}
p#credit span {
  padding: 0 10px;
}
p#credit a {
  color: #aaa;
  text-decoration: underline;
}
.d3-tip {
  padding: 10px;
  background: #000;
  border-radius: 5px;
  color: #fff;
  text-align: left;
}
.d3-tip span {
  font-weight: bold;
}
