body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
}
.axis path, .axis line {
  stroke: #000;
}
.x.axis path, .x.axis line, .y.axis path {
  display: none;
}
.tick line {
  stroke-width: 2;
  opacity: 0.1;
}
.label {
  font-size: 11px;
  letter-spacing: 0;
}
.tooltip {
  position: absolute;
  width: 130px;
  padding: 10px;
  background: #000;
  border-radius: 5px;
  color: #fff;
}
p#logos {
  margin: 20px 0 0 180px;
  width: 1020px;
}
p#logos img {
  cursor: pointer;
  display: block;
  float: left;
  margin: 0px 4px 10px 4px;
  padding: 0;
}
h1 {
  font-size: 30px;
  clear: both;
  font-weight: 100;
  width: 1020px;
  padding: 30px 0 0 180px;
  letter-spacing: 3px;
  text-align: center;
}
p#credit {
  color: #aaa;
  text-align: center;
  width: 1020px;
  margin: 40px 0 50px 180px;
  font-weight: 400;
  clear: both;
}
p#credit span {
  padding: 0 10px;
}
a {
  color: #aaa;
  text-decoration: underline;
}
.d3-tip {
  padding: 10px;
  background: #000;
  border-radius: 5px;
  color: #fff;
}
.d3-tip span {
  font-weight: bold;
}
/* Style for championships page */
h1#championships {
  position: absolute;
  width: 1020px;
  margin: 0 0 0 180px;
  padding: 0;
  font-size: 30px;
}
h1#championships img {
  height: 30px;
  vertical-align: middle;
}
div#controls {
  position: absolute;
  z-index: 1;
  width: 1020px;
  margin-left: 180px;
  text-align: center;
  top: 100px;
  z-index: 1;
  font-size: 15px;
}
h1#year {
  font-weight: 400;
  font-size: 150px;
  color: #aaa;
  margin: 0 0 0 180px;
  line-height: 675px;
  vertical-align: middle;
  padding: 0;
  position: absolute;
  width: 1020px;
  text-align: center;
}
div#frame {
  width: 1020px;
  border-bottom: 2px solid #aaa;
  margin: 45px 0 0 180px;
  height: 675px;
}
div#labels {
  width: 1020px;
  text-align: center;
  font-size: 15px;
  margin: 0 0 0 180px;
}
div#labels p {
  width: 45px;
  padding: 10px 3px;
  float: left;
  text-align: center;
  margin: 0 0 30px 0;
  font-size: 15px;
}
p.box {
  width: 45px;
  height: 45px;
  padding: 0 3px;
  margin: 0;
  position: absolute;
  display: none;
}
p.box img {
  max-width: 43px;
  max-height: 43px;
  padding: 1px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
p#BOS {
  display: block;
  top: 675px;
}
p#NYK {
  display: block;
  top: 630px;
}
p#GSW {
  display: block;
  top: 585px;
}
